<% if current_user.email == "admin@skyblue.com"  %>
  <p><u> Role: Admin </u></p>
<%else %>
  <p><b> Role : User </b></p>
<%end  %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
